.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.timeline-container {
  margin: auto;
  width: 80%;
}

/*.progress-donut-container {
  margin: 1em 5em 1em 10em;
  width: 12em;
  border: 1px solid black;
  transition: 300ms;
}

.progress-donut-container-inner {
  margin: 1em 5em 1em 10em;
  width: 12em;
  border: 1px solid lightblue;
  transition: 300ms;
}*/

.pie-chart-name {
  /*position: relative;
  top: 7.3em;
  right: 10em;
  z-index: 1;*/
}

Table {
  margin: auto;
  width: 80%;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*.disabled {
  text-decoration: line-through; 
}*/