.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.timeline-container {
  margin: auto;
  width: 80%;
}

.progress-donut-container {
  border: 1px solid lightblue;
  margin: auto; 
  height: 7.4em; 
  transition: 300ms;
}

.progress-donut-chart {
  position: relative;
  top: -1.5em; 
}

.pie-chart-name {
  position: relative; 
  bottom: -1em; 
  z-index: 1; 
}

Table {
  margin: auto;
  width: 80%;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*.disabled {
  text-decoration: line-through; 
}*/